## QUIZ PRÁCTICO

#### ACTIVOS

- AAPL - Apple Inc.
- JBM - JPMorgan Chase & Co.
- XOM - Exxon Mobil Corp.
- PG - Procter & Gamble Co.

---

#### Librerías

In [117]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

---

## PORTAFOLIO CON PESOS

Con tasa libre de riesgo de :

rf = 0.08

#### Importar Datos

In [118]:
prices = yf.download(["AAPL","JPM","XOM","PG"], start= '2018-01-01')['Close']
prices

[*********************100%***********************]  4 of 4 completed

Ticker            AAPL         JPM          PG         XOM
Date
2018-01-02   40.426815   87.571877   74.359993   60.040215
2018-01-03   40.419785   87.661125   74.269760   61.219410
2018-01-04   40.607529   88.916908   74.794746   61.304150
2018-01-05   41.069862   88.346100   74.843956   61.254730
2018-01-08   40.917320   88.476578   75.237701   61.530106
...                ...         ...         ...         ...
2025-06-03  203.270004  266.269989  166.850006  103.800003
2025-06-04  202.820007  264.220001  165.949997  102.300003
2025-06-05  200.630005  261.950012  162.800003  101.830002
2025-06-06  203.919998  265.730011  164.020004  104.269997
2025-06-09  204.399994  265.549988  162.929993  105.089996

[1869 rows x 4 columns]

#### PESOS

In [119]:
w = np.array([0.25, 0.25, 0.25, 0.25])

#### Rendimientos Diarios

In [120]:
ret = prices.pct_change().dropna()
ret

Ticker          AAPL       JPM        PG       XOM
Date
2018-01-03 -0.000174  0.001019 -0.001213  0.019640
2018-01-04  0.004645  0.014325  0.007069  0.001384
2018-01-05  0.011385 -0.006420  0.000658 -0.000806
2018-01-08 -0.003714  0.001477  0.005261  0.004496
2018-01-09 -0.000115  0.005069 -0.007305 -0.004246
...              ...       ...       ...       ...
2025-06-03  0.007784  0.006083 -0.005543  0.007278
2025-06-04 -0.002214 -0.007699 -0.005394 -0.014451
2025-06-05 -0.010798 -0.008591 -0.018982 -0.004594
2025-06-06  0.016398  0.014430  0.007494  0.023961
2025-06-09  0.002354 -0.000677 -0.006646  0.007864

[1868 rows x 4 columns]

### Rendimientos Anuales

In [121]:
mean = ret.mean()*252
ret_anual = (mean * w).sum()
ret_anual*100

17.770198591704066

#### Covarianza

In [122]:
cov = ret.cov()

#### Varianza

In [123]:
var = w.T@ cov @ w
var*100

0.016987614952366788

#### Varianza Anual

In [124]:
var * 252 *100

4.280878967996431

#### Volatilidad

In [125]:
vol = np.sqrt(var)
vol*100

1.303365449609847

#### Volatilidad Anual

In [126]:
vol_anual = vol* np.sqrt(252)
vol_anual * 100

20.690285082609254

#### Coeficiente de Variación

In [127]:
CV = vol_anual / ret_anual
CV

1.1643249216285303

Entre menor sea , es mejor

#### Ratio Sharpe

In [128]:
rf = 0.08

In [129]:
RS = (ret_anual-rf) / vol_anual
RS*100

47.22118884633533

Entre mayor sea, es mejor la estrategia

#### Matriz de Correlación

In [130]:
corr = ret.corr()
corr

Ticker      AAPL       JPM        PG       XOM
Ticker
AAPL    1.000000  0.439896  0.370949  0.319995
JPM     0.439896  1.000000  0.329501  0.563034
PG      0.370949  0.329501  1.000000  0.231895
XOM     0.319995  0.563034  0.231895  1.000000

Los activos de esta matriz están muy correlacionados, ya que su suma supera el 1.

#### Media Geometrica

In [131]:
Media_geo = (1 + ret).prod()**(1/len(ret)) - 1
Media_geo * 100

Ticker
AAPL    0.086793
JPM     0.059404
PG      0.042000
XOM     0.029973
dtype: float64

#### Media Armónica

In [132]:
media_armo = (len(ret)/((1/(1+ret)).sum())) -1
media_armo*100

Ticker
AAPL    0.067242
JPM     0.042013
PG      0.033863
XOM     0.011072
dtype: float64

#### Valor Esperado

In [133]:
valor_esp = (1 + ret).prod()
valor_esp

Ticker
AAPL    5.056050
JPM     3.032366
PG      2.191097
XOM     1.750327
dtype: float64

#### Varianza Esperada

In [134]:
varianza_esp = (1/len(ret)) * ((ret - ret.mean())**2).sum()
varianza_esp * 252 * 100

Ticker
AAPL    9.855856
JPM     8.781171
PG      4.102653
XOM     9.493458
dtype: float64

#### Volatilidad Esperada

In [135]:
vol_esp= np.sqrt(varianza_esp)
vol_esp * 100

Ticker
AAPL    1.977639
JPM     1.866706
PG      1.275945
XOM     1.940939
dtype: float64

---

## PORTAFOLIO Indice

- Activo : ^TWII

Con tasa libre de riesgo de :

rf = 0.08

#### Calcular
- Rendimiento diario
- Rendimiento anual 
- Covarianza
- Varianza 
- Varianza anual
- Volatilidad diaria
- Volatilidad anual
- Coeficiente de Variación 
- Ratio Sharpe
- Matriz de Correlación

#### Importar datos

In [136]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#### Rendimiento Diario

In [137]:
prices = yf.download(['^TWII'],start= '2015-01-01')['Close']
prices

[*********************100%***********************]  1 of 1 completed

Ticker             ^TWII
Date
2015-01-05   9274.068359
2015-01-06   9048.298828
2015-01-07   9080.047852
2015-01-08   9237.988281
2015-01-09   9215.538086
...                  ...
2025-06-03  21126.929688
2025-06-04  21618.089844
2025-06-05  21674.429688
2025-06-06  21660.660156
2025-06-09  21790.289062

[2531 rows x 1 columns]

#### Rendimiento diario

In [138]:

ret = prices.pct_change().dropna()
ret.head()

Ticker         ^TWII
Date
2015-01-06 -0.024344
2015-01-07  0.003509
2015-01-08  0.017394
2015-01-09 -0.002430
2015-01-12 -0.004045

#### Rendimiento Anual

In [139]:
mean = ret.mean() *252
ret_anual = mean.sum()
ret_anual *100

9.972581959911905

#### Covarianza

In [140]:
COV = ret.cov()

#### Varianza

In [141]:
var = ret.var()
var*100

Ticker
^TWII    0.011556
dtype: float64

#### Varianza Anual

In [142]:
var_anual = var *252
var_anual*100

Ticker
^TWII    2.912037
dtype: float64

#### Volatilidad diaria

In [143]:
Vol = np.sqrt(var)
Vol*100

Ticker
^TWII    1.074975
dtype: float64

#### Volatilidad Anual

In [144]:
Vol_anual = np.sqrt(var)*np.sqrt(252)
Vol_anual*100

Ticker
^TWII    17.064691
dtype: float64

#### Coeficiente de Variación

In [145]:
CV = vol_anual / ret_anual
CV

2.0747169755817207

#### Ratio Sharpe

In [146]:
rf = 0.08

In [147]:
RS = (ret_anual - rf)/Vol_anual
RS*100

Ticker
^TWII    11.559435
dtype: float64

#### Asimetría Skewness

In [148]:
Skew = ret.skew()
Skew

Ticker
^TWII   -0.632625
dtype: float64