## QUIZ PRÁCTICO

#### ACTIVOS

- AAPL - Apple Inc.
- JBM - JPMorgan Chase & Co.
- XOM - Exxon Mobil Corp.
- PG - Procter & Gamble Co.

---

#### Librerías

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

---

## PORTAFOLIO CON PESOS

Con tasa libre de riesgo de :

rf = 0.08

#### Importar Datos

In [6]:
prices = yf.download(["AAPL","JPM","XOM","PG"], start= '2018-01-01')['Close']
prices

[*********************100%***********************]  4 of 4 completed

Ticker            AAPL         JPM          PG         XOM
Date
2018-01-02   40.426815   87.571877   74.359978   60.040218
2018-01-03   40.419788   87.661110   74.269753   61.219437
2018-01-04   40.607525   88.916924   74.794762   61.304142
2018-01-05   41.069866   88.346100   74.843941   61.254726
2018-01-08   40.917320   88.476570   75.237686   61.530090
...                ...         ...         ...         ...
2025-06-02  201.699997  264.660004  167.779999  103.050003
2025-06-03  203.270004  266.269989  166.850006  103.800003
2025-06-04  202.820007  264.220001  165.949997  102.300003
2025-06-05  200.630005  261.950012  162.800003  101.830002
2025-06-06  203.919998  265.730011  164.020004  104.269997

[1868 rows x 4 columns]

#### PESOS

In [ ]:
w = np.array([0.25, 0.25, 0.25, 0.25])

#### Rendimientos Diarios

In [ ]:
ret = prices.pct_change().dropna()
ret

Ticker          AAPL       JPM        PG       XOM
Date
2018-01-03 -0.000174  0.001019 -0.001213  0.019640
2018-01-04  0.004645  0.014326  0.007069  0.001384
2018-01-05  0.011386 -0.006420  0.000658 -0.000806
2018-01-08 -0.003714  0.001477  0.005261  0.004495
2018-01-09 -0.000115  0.005069 -0.007305 -0.004246
...              ...       ...       ...       ...
2025-06-02  0.004232  0.002500 -0.012420  0.007331
2025-06-03  0.007784  0.006083 -0.005543  0.007278
2025-06-04 -0.002214 -0.007699 -0.005394 -0.014451
2025-06-05 -0.010798 -0.008591 -0.018982 -0.004594
2025-06-06  0.016398  0.014430  0.007494  0.023961

[1867 rows x 4 columns]

### Rendimientos Anuales

In [24]:
mean = ret.mean()*252
ret_anual = (mean * w).sum()
ret_anual*100

17.769948735004903

#### Covarianza

In [23]:
cov = ret.cov()

#### Varianza

In [14]:
var = w.T@ cov @ w
var*100

0.016996732259343606

#### Varianza Anual

In [15]:
var * 252 *100

4.283176529354589

#### Volatilidad

In [16]:
vol = np.sqrt(var)
vol*100

1.3037151628842707

#### Volatilidad Anual

In [17]:
vol_anual = vol* np.sqrt(252)
vol_anual * 100

20.695836608735075

#### Coeficiente de Variación

In [27]:
CV = vol_anual / ret_anual
CV

1.1646537036973261

Entre menor sea , es mejor

#### Ratio Sharpe

In [28]:
rf = 0.08

In [33]:
RS = (ret_anual-rf) / vol_anual
RS*100

47.20731478369572

Entre mayor sea, es mejor la estrategia

#### Matriz de Correlación

In [20]:
corr = ret.corr()
corr

Ticker      AAPL       JPM        PG       XOM
Ticker
AAPL    1.000000  0.439900  0.371001  0.319995
JPM     0.439900  1.000000  0.329506  0.563073
PG      0.371001  0.329506  1.000000  0.232038
XOM     0.319995  0.563073  0.232038  1.000000

Los activos de esta matriz están muy correlacionados, ya que su suma supera el 1.

#### Media Geometrica

In [38]:
Media_geo = (1 + ret).prod()**(1/len(ret)) - 1
Media_geo * 100

Ticker
AAPL    0.086713
JPM     0.059472
PG      0.042380
XOM     0.029569
dtype: float64

#### Media Armónica

In [36]:
media_armo = (len(ret)/((1/(1+ret)).sum())) -1
media_armo*100

Ticker
AAPL    0.067152
JPM     0.042072
PG      0.034239
XOM     0.010660
dtype: float64

#### Valor Esperado

In [40]:
valor_esp = (1 + ret).prod()
valor_esp

Ticker
AAPL    5.044177
JPM     3.034422
PG      2.205757
XOM     1.736669
dtype: float64

#### Varianza Esperada

In [39]:
varianza_esp = (1/len(ret)) * ((ret - ret.mean())**2).sum()
varianza_esp * 252 * 100

Ticker
AAPL    9.861110
JPM     8.785845
PG      4.104165
XOM     9.497811
dtype: float64

#### Volatilidad Esperada

In [41]:
vol_esp= np.sqrt(varianza_esp)
vol_esp * 100

Ticker
AAPL    1.978166
JPM     1.867203
PG      1.276181
XOM     1.941384
dtype: float64