# Portafolios de Inversión
## Actividad en Clase
José Armando Melchor Soto

---

### Invesco PowerShares (QQQ)

Es un ETF (fondo cotizado) que busca replicar que el NASDAQ 100, es un índice que contiene las 100 empresas con mayor Market Cap (Precio Acción * No. Acciones). Se enfoca en empresas de tecnología principalmente de USA

### iShares Russell 2000 Growth (IWO)

Es un ETF (fondo cotizado) que busca replicar los resultados de inversión de baja capitalización en crecimiento de Estados Unidos.

### VXX
Es un ETN (exchange traded note) refleja el rendimiento en futuros a corto plazo del S&P 500.

### MTUM 
Es un ETF (fondo cotizado) que busca replicar los resultados de las empresas de mid y high cap.

---

### Librerías

In [21]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

---

### Importación de los datos

In [22]:
prices  = yf.download(['QQQ','IWO', 'VXX', 'MTUM'], start='2020-01-01')['Close']

[*********************100%***********************]  4 of 4 completed

---

### Rendimientos

In [29]:
w = np.array([0.268,0.327,0.266,0.139])

In [30]:
rets = prices.pct_change().dropna()
rets

Ticker           IWO      MTUM       QQQ       VXX
Date
2020-01-03 -0.004987 -0.000159 -0.009160  0.053756
2020-01-06  0.003560  0.001111  0.006443 -0.013734
2020-01-07 -0.001774 -0.002458 -0.000139 -0.004642
2020-01-08  0.005938  0.005326  0.007516 -0.013991
2020-01-09  0.003626  0.008698  0.008474 -0.041892
...              ...       ...       ...       ...
2025-05-27  0.023732  0.021486  0.023525 -0.100527
2025-05-28 -0.009046 -0.001995 -0.004432  0.011536
2025-05-29  0.000776  0.000869  0.001966  0.001122
2025-05-30 -0.004357  0.005297 -0.001577  0.005229
2025-06-02  0.007492  0.008724  0.007898 -0.010816

[1360 rows x 4 columns]

---

### Rendimiento Anual y diario

In [33]:
mean = rets.mean()

Rend_port_diario = (mean * w).sum()
Rend_port_anual = Rend_port_diario * 252
print('Rendimiento anual del portafolio:', Rend_port_anual * 100, '%')

Rendimiento anual del portafolio: 9.584410163068473 %

---

### Covarianza

In [43]:
cov= rets.cov()
cov

Ticker       IWO      MTUM       QQQ       VXX
Ticker
IWO     0.000318  0.000227  0.000242 -0.000612
MTUM    0.000227  0.000242  0.000229 -0.000522
QQQ     0.000242  0.000229  0.000273 -0.000559
VXX    -0.000612 -0.000522 -0.000559  0.002390

### Varianza anual

In [ ]:
var_port_diario=w.T @ cov @ w
var_port_anual= var_port_diario*252

print('Varianza del portafolio anual es de:', var_port_anual*100, '%')

### Volatilidad anual

In [44]:
vol_port_anual = np.sqrt(var_port_anual)
print('Volatilidad del portafolio anual es de:', vol_port_anual * 100, '%')

Volatilidad del portafolio anual es de: 15.394862014025854 %

In [47]:
print('volatilidad ponderada',np.sqrt((rets.var()*w).sum()*252)*100, '%')

volatilidad ponderada 37.872548604628896 %

---

### Correlación

In [45]:
rets.corr()

Ticker       IWO      MTUM       QQQ       VXX
Ticker
IWO     1.000000  0.817946  0.821392 -0.701548
MTUM    0.817946  1.000000  0.892152 -0.685832
QQQ     0.821392  0.892152  1.000000 -0.692496
VXX    -0.701548 -0.685832 -0.692496  1.000000