# Portafolios de Inversión
## Tarea 2 

### Equipo
- José Armando Melchor Soto
- José Rodrigo Santillan 
---

### Librerías

In [3]:
import pandas as pd 
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

---

### Activos
- 
-
-

---

### Importación de los datos

In [10]:
prices = yf.download(['VT','IGF','PSP'] ,start='2020-01-01')['Close']
prices

[*********************100%***********************]  3 of 3 completed

Ticker            IGF        PSP          VT
Date
2020-01-02  41.558788  47.370411   73.599518
2020-01-03  41.298077  47.112160   72.933800
2020-01-06  41.437126  47.038383   73.203674
2020-01-07  41.332836  46.964603   72.978783
2020-01-08  41.524033  47.038383   73.275650
...               ...        ...         ...
2025-05-28  58.389999  66.489998  123.040001
2025-05-29  58.709999  66.739998  123.540001
2025-05-30  59.000000  66.470001  123.370003
2025-06-02  59.639999  66.459999  124.190002
2025-06-03  59.419998  66.439598  124.510002

[1362 rows x 3 columns]

---

### Rendimientos

In [15]:
w= np.array([0.25, 0.35, 0.4])

In [6]:
returns= prices.pct_change().dropna()
returns.head()

Ticker           IGF       PSP        VT
Date
2020-01-03 -0.006273 -0.005452 -0.009046
2020-01-06  0.003367 -0.001566  0.003701
2020-01-07 -0.002517 -0.001569 -0.003072
2020-01-08  0.004626  0.001571  0.004068
2020-01-09  0.001674  0.004706  0.004911

---

### Rendimiento Diario

In [ ]:
mean= returns.mean()
ret_diario= (mean* w).sum()
print(ret_diario*100,'%')

0.041393030093169275 %

### Rendimiento Anual

In [21]:
print(ret_diario*252*100,'%')

10.431043583478656 %

---

### Covarianza

In [23]:
cov = returns.cov()
cov

Ticker       IGF       PSP        VT
Ticker
IGF     0.000169  0.000171  0.000143
PSP     0.000171  0.000294  0.000197
VT      0.000143  0.000197  0.000167

---

### Varianza Diaria

In [25]:
var_port_diario=w.T @ cov @ w
print('Varianza del portafolio diaria es de:',var_port_diario,'%')

Varianza del portafolio diaria es de: 0.00018679561223672645 %

### Varianza Anual

In [26]:
print('Varianza del portafolio anual es de:', var_port_diario*252*100, '%')

Varianza del portafolio anual es de: 4.707249428365507 %

---

### Volatilidad diaria

In [27]:
vol_port_diario = np.sqrt(var_port_diario)
print('Volatilidad del portafolio diaria es de:', vol_port_diario*100, '%')

Volatilidad del portafolio diaria es de: 1.3667319131297346 %

### Volatilidad Anual

In [28]:
vol_port_anual= vol_port_diario * np.sqrt(252)
print('Volatilidad del portafolio anual es de:', vol_port_anual*100, '%')

Volatilidad del portafolio anual es de: 21.696196506220872 %

In [31]:
print('Volatilidad ponderada',np.sqrt((returns.var()*w).sum()*252)*100, '%')

Volatilidad ponderada 23.101801066031765 %

---

### Matriz de Correlación

In [32]:
returns.corr()

Ticker       IGF       PSP        VT
Ticker
IGF     1.000000  0.765711  0.852470
PSP     0.765711  1.000000  0.888533
VT      0.852470  0.888533  1.000000

###